
.box{
    text-align: center;
}

.inputdir + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputdir:focus + label,
.inputdir.has-focus + label,
.inputdir + label:hover {
    background-color: #722040;
}
.inputdir{
    display: none;
}

.highcharts-axis-labels.highcharts-xaxis-labels.highcharts-navigator-xaxis, .highcharts-input-group{
    display: none;
}
.spector_container .highcharts-range-selector-buttons{
    display: none;
}
