<!DOCTYPE html>
<html>
<head>
  <title>SoundAnalyser</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="ui bottom attached segment" id="container">
    <%= yield %>
</div>
</body>
</html>
